
#mainNav {
  min-height: 56px;
  background-color: #fff;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #09d4ca;
  border: 1px solid #09d4ca;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: #1e2746;
  font-weight: 700;
  padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {


	
	.toggle-btn{
		opacity: 0;
	}
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link {
    transition: none;
    padding: 1.5rem 1.5rem;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  #mainNav .nav-link:active {
    color: white;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #2E2E4C;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #2E2E4C;
    padding: 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #4A4E69;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #C9ADA7;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #9A8C98;
    outline: none;
    border-bottom: 0.25rem solid #9A8C98;
  }
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(30, 39, 70, 0.1) 0%, rgba(30, 39, 70, 0.5) 75%, #2E2E4C 100%), url("../img/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.masthead h2 {
  max-width: 40rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
.app_style{
	width: 40%!important;
    left: 30%!important;
}
.button_style{
	right: 32%!important;
}	
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 0.7rem 2rem;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-primary {
  background-color: #9A8C98;
}

.btn-primary:hover, .btn-primary:active {
  background-color: #C9ADA7;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #D1BCB8;
}
.btn-info{
	background-color: #9A8C98;
    padding: 0.7rem 1rem;
}
.btn-info:hover{
	background-color: #C9ADA7;
}
.about-section {
  padding-top: 5rem;
  background: linear-gradient(to bottom, #2E2E4C 0%, #4A4E69);
}

.about-section h3 {
  padding: 0px 10px;
  font-size: 0.6rem;
  line-height: 1.6rem;
  background-color: #9A8C98;
  width: 200px;
}

.about-section p {
  font-size: 1rem;
  line-height: 2.5rem;
  margin-bottom: 3rem;
}

.projects-section {
  padding: 5rem 0;
}

.projects-section .featured-text-left {
  padding: 2rem;
}
.projects-section .featured-text-right {
  padding: 2rem;
}

@media (min-width: 992px) {
  .projects-section .featured-text-left {
    padding: 0 0 0 2rem;
/*    border-left: 0.5rem solid #9A8C98;*/
  }
  .projects-section .featured-text-right {
    padding: 0 0 0 2rem;
/*    border-right: 0.5rem solid #9A8C98;*/
  }	
}

.projects-section .project-text {
  padding: 3rem;
  font-size: 90%;
}

@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 5rem;
  }
  .projects-section .project-text hr {
    border-color: #F2E9E4;
    border-width: .25rem;
    width: 30%;
  }
}
.buttom-more{
	background-color: #9A8C98;
	border-radius: 5px;
	color: #F2E9E4;
	padding: 0.2rem 0.5rem;
	margin: 20px 0px;
}
.signup-section {
  padding: 10rem 0;
  background: linear-gradient(to bottom, rgba(30, 39, 70, 0.1) 0%, rgba(30, 39, 70, 0.5) 75%, #1e2746 100%), url("../img/bg-signup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.signup-section .form-inline input {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  height: auto;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.contact-section {
  padding: 5rem 0 0;
}

.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #09d4ca;
}

.contact-section .card h4 {
  font-size: 0.8rem;
  font-family: 'Varela Round';
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.contact-section .card hr {
  border-color: #09d4ca;
  border-width: 0.25rem;
  width: 3rem;
}

.contact-section .social {
  margin-top: 5rem;
}

.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}

.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:active {
  color: #fff;
}

.intro h1 {
  display: block;
  margin: 5rem auto 2rem auto;
  font-size: 2rem;
  line-height: 2rem;
}

.intro h2 {
  display: block;
  font-size: 1rem;
  line-height: 1rem;
  margin: 1.8rem auto;
}

.intro h3 {
  display: block;
  font-size: 0.8rem;
  line-height: 0.8rem;
  margin: 1rem auto;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0.2rem;
}

a {
 cursor: pointer;
  color: #9A8C98;
}

a:focus, a:hover {
  text-decoration: none;
  color: #f8f9fa;
}

.bg-black {
  background-color: #9A8C98 !important;
}


.text-primary {
  color: #09d4ca !important;
}

footer {
  padding: 3rem 0;
}

.styleguide {
  text-align: center;
}

.styleguide img {
  width: auto;
  max-width: 100%;
}





.centered
{
	width: 100%;
	max-width: 600px;
	display: block;
	margin-left: auto;
	margin-right: auto
}

.align-center
{
	text-align: center
}

.theme-input
{
	display: block;
	outline: none;
	border: 1px solid #bbb;
	padding: .6em;
	font-family: "Open Sans",sans-serif;
	line-height: 1.8;
	width: 100%
}

input
{
	border-radius: 5px;
	width: 100%;
	padding: .6em;
	outline: none;
	text-shadow: none;
	box-shadow: none;
	border-width: 0;
	border: 1px solid #bbb
}

textarea
{
	border-radius: 5px;
	width: 100%;
	padding: .6em;
	outline: none;
	text-shadow: none;
	box-shadow: none;
	border-width: 0
}

label
{
	border-radius: 5px;
	outline: none;
	display: inherit;
	padding: .6em;
	text-shadow: none;
	box-shadow: none;
	border-width: 0
}

.theme-button
{
	border: none;
	text-align: center;
	color: #fff;
	background-color: #9A8C98;
	margin: 20px 50px;
	padding: 5px 15px;
	border-radius: 5px;
	outline: none;
	transition: all 0.3s ease-in-out 0s
}

.theme-button:hover
{
	background-color: #C9ADA7;
}

.theme-button i
{
	transition: all 0.3s ease-in-out 0s
}

.theme-button:hover i
{
	color: #fff
}

.success_style
{
	color: rgb(97,69,61);
	border-radius: 10px;
	padding: 40px 20px;
	display: inline-block;
	border-width: 3px;
	border-style: solid;
	border-color: rgb(162,130,84);
	background-color: rgb(239,236,230)
}

#my-form-success p
{
	text-align: center;
	margin: 50px
}

._8z_v
{
	border-radius: 4px;
	width: 100%
}

#contact
{
	padding: 5rem 0;
	background-color: #4A4E69;
}



.toggle-btn.active span:nth-child(1)
{
	-webkit-transform: rotate(45deg) translateY(14px);
	-ms-transform: rotate(45deg) translateY(14px);
	transform: rotate(45deg) translateY(14px)
}

.toggle-btn.active span:nth-child(2)
{
	width: 0;
	opacity: 0
}

.toggle-btn.active span:nth-child(3)
{
	-webkit-transform: rotate(-45deg) translateY(-14px);
	-ms-transform: rotate(-45deg) translateY(-14px);
	transform: rotate(-45deg) translateY(-14px)
}

.toggle-btn
{
	float: right;
	position: relative;
	width: 40px;
	height: 35px;
	display: inline-block;
	z-index: 999;
	cursor: pointer;
	margin: 8px 0 0
}

.toggle-btn span
{
	display: block;
	width: 25px;
	height: 3px;
	background-color: #5b3908;
	margin: 5px;
	border-radius: 10px;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s
}



.toggle-btn.active span:nth-child(1)
{
	-webkit-transform: rotate(45deg) translateY(14px);
	-ms-transform: rotate(45deg) translateY(14px);
	transform: rotate(45deg) translateY(10px) translateX(0px);
}

.toggle-btn.active span:nth-child(2)
{
	width: 0;
	opacity: 0
}

.toggle-btn.active span:nth-child(3)
{
	-webkit-transform: rotate(-45deg) translateY(-14px);
	-ms-transform: rotate(-45deg) translateY(-14px);
	transform: rotate(-45deg) translateY(-11px)translateX(1px);
}

.toggle-btn
{
	float: right;
	position: relative;
	width: 40px;
	height: 35px;
	display: inline-block;
	z-index: 999;
	cursor: pointer;
	margin: 8px 0 0
}


.nav-menu-item
{
	height: 5vh;
	margin: 0;
}

.nav-menu-list
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 0;
	padding: 10vh 0 0 0;
	list-style: none
}

.nav-menu.active
{
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%)
}

.nav-menu
{
	position: fixed;
	width: 100vw;
	height: 25vh;
	background: #f8f8f8;
	z-index: 10!important;
	top: 0;
	left: 0;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease
}

.nav-menu ul.sns,.nav-menu ul.partner
{
	text-align: center;
	padding-left: 0
}

.nav-menu ul.sns li
{
	display: inline-block;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
	overflow: hidden;
	font-size: 18px;
	margin: 20px
}

.nav-menu ul.sns li a
{
	display: block;
	background: #cf8e48;
	color: #fff
}

.nav-menu ul.sns li a:hover
{
	background: #c49a64
}

.nav-menu ul.sns li a img
{
	width: 19px
}

.nav-link
{
	display: block;
	text-align: center
}

.nav-link img
{
	width: 70%
}

.nav-text
{
	text-align: center;
	color: #1e2746;
}

footer ul.sns{
  display: inline-block;
  margin: 0px;
  padding: 3px 0px; 
  list-style: none;
  margin-top: 15px;
}
footer ul.sns li {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  overflow: hidden;
  font-size: 18px;
}
footer ul.sns li a {
  display: block;
  color: #fff;
}
.baguetteBox-button#previous-button {
    outline: none;
	background-color: transparent;
	z-index: 99;
}
.baguetteBox-button#next-button {
	background-color: transparent;
	z-index: 99;
    outline: none;
}
.baguetteBox-button#close-button {
	background-color: transparent;
    outline: none;
}
@media (max-width:768px){
	 h4 {
    font-size: 1.2rem;
}
}
#baguetteBox-overlay .full-image img{
			box-shadow: 0 0 8px rgba(0,0,0,0)!important;
		
	}




.fixed-top{
	z-index: 99!important;
}







#cartIcon, .analyticsList__resultBox, .bannerSlider, .bannerVerticalList, .centerBox, .centerChildBox, .centerFormBox, .circleIconButton, .deskBannerButton, .dragUploadButton, .dropActiveBack, .dropIconContent, .emptyCartText, .fileUploaderBox, .foo__container, .leftArrow, .m__foo__container .m__foo__social .m__foo__social__icons a, .m__foo__messenger, .m__home__categories li a, .m__nav__logo, .m__nav__logo a, .m__nav__pageTitle, .mediumFunctionButton, .mobileBannerButton, .mobileList__quantityBox button, .mobileList ul .mobileList__profileOrderList, .moreDots, .moreDotsButton, .moreDotsContainer, .nav__container, .nav__left ul li a, .nav__right ul li a, .progressOverlay, .rightArrow, .statusDot, .storyInfo, .storyMoreButton, .switchButtonBox, .upload__cover, .upload__singleCover, .uploadFile__selectButtonBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility!important;
    -webkit-font-smoothing: antialiased!important;
}
#app{
	z-index: 100;
	position: fixed;
}
.app_style{
	width: 100%;
    left: 0px;
}
.button_style{
	right: 3%;
}	

.active_story{
	display: none!important;
}
.story_01{
    display: grid;
    position: fixed;
    top: 0em;
}
.story_top{
	position: relative;
	background: linear-gradient(rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
}
.storyCloseButton{
z-index: 99;
    position: fixed;
    color: #fff;
    font-size: 1.5rem;
    top: 4%;
}
.circleBackCategory {
	cursor: pointer;
}
button{
	border: 1px solid transparent; 
	background-color: transparent;
	color: #fff;
outline: none!important;
}

.bg_style{
	background-image: url('img/loading.jpg');
	width: 40%;
    left: 30%;
    height: 100%;
    position: fixed;
    top: 0em;	
}
.app_bg_style{
	background:rgba(0,0,0,.8);
	width: 100%;
    height: 100%;
    position: fixed;
    top: 0em;
}	











