
<!DOCTYPE html>
<html lang="en">

<head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.3/vue.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/141041/anime.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>	
	
	
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Donee Huang">
    <meta name="description" content="負責網站活動頁設計與製作、內外部廣告設計與製作、Instagram濾鏡製作。">	
	<link rel="shortcut icon" href="img/web-icon.png" type="image/png" />
	<link rel="apple-touch-icon" href="img/web-icon.png"/>
	<meta property="og:site_name" content="Donee Huang 網頁設計作品" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="網站設計、平面設計、Instagram濾鏡" />
    <div id="fb-root"></div>
    <title>Donee Huang 網頁設計作品</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font.css" rel="stylesheet" async>
    <link href="css/all.css" rel="stylesheet">
    <link href="css/aos.css" rel="stylesheet">	
    <link rel="stylesheet" href="css/baguetteBox.min.css" async/>	
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css" crossorigin="anonymous">
<!--
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet" async>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" async>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" async>
-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.min.js" async></script>
	<script src="js/aos.js"></script>
    <script src="https://cdn.rawgit.com/aFarkas/lazysizes/gh-pages/lazysizes.min.js" ></script>		
<script>
var $=jQuery;$(function(){$("#nav-btn").click(function(){$('#nav-menu').toggleClass('active');$('#nav-btn').toggleClass('active');});$(".nav01").click(function(){$("#nav-menu").removeClass('active');$("#nav-btn").removeClass('active');});$(".nav02").click(function(){$("#nav-menu").removeClass('active');$("#nav-btn").removeClass('active');});$(".nav03").click(function(){$("#nav-menu").removeClass('active');$("#nav-btn").removeClass('active');});$(".nav04").click(function(){$("#nav-menu").removeClass('active');$("#nav-btn").removeClass('active');});$(".nav05").click(function(){$("#nav-menu").removeClass('active');$("#nav-btn").removeClass('active');});});
</script>


<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P6P6JNV');</script>
<!-- End Google Tag Manager -->	
</head>

	
<style>

.story_nav{
  z-index: 1000;
  box-sizing: border-box;
  display: grid;
  grid-column-gap: 0.5em;
  grid-template-columns: repeat(15, 1fr);
  height: 0.5em;
  padding: 0 1em;
  position: fixed;
  top: 1em;
  width: 100%;
}

.story_nav > div{
  background: rgba(0,0,0,0.1);
  height: 30%;
}

.story_nav > div > div{
  background: #fff;
  height: 100%;
  width: 0%;
}
/*icon大頭貼*/
.story_top {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 5;
}	
</style>	
	
	
	
<body id="page-top">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P6P6JNV"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
	
<main id="app" class="active_story" style="z-index: 100;">
	
<nav class="app_style story_nav">
<div v-for="(bgimg, index) in bgs">
<div></div>
</div>
</nav>

<div class="app_bg_style">
<div class="bg_style">	
<section class="story_01 app_style" v-for="(bgimg, index) in bgs" :key="index" :style="{'background-image': 'url(' + bgimg + ')','background-repeat':'no-repeat','background-size':'cover','background-position': 'center','height': '100%' }" v-if="current == index">
	
</section>
</div>	
</div>	
<button class="storyCloseButton button_style"><i class="fal fa-times"></i></button>	
</main>	
	
	
	
	
	
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger track" href="#page-top" track-value="logo">Donee Huang</a>

     <div class="toggle-btn" id="nav-btn">
      <span> </span> 
      <span> </span> 
      <span> </span>
     </div>			
			
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger track" track-value="head_about" href="#about">關於我</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger track" track-value="head_works" href="#projects">作品集</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger track" track-value="head_contact" href="#contact">聯絡我</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

  <div class="nav-menu" id="nav-menu">
   <div class="container">
    <ul class="nav-menu-list">
     <li class="nav-menu-item"><a class="nav-link nav01 js-scroll-trigger track" track-value="head_M_about" href="#about"><p class="nav-text">關於我</p></a></li>
     <li class="nav-menu-item"><a class="nav-link nav02 js-scroll-trigger track" track-value="head_M_works" href="#projects"><p class="nav-text">作品集</p></a></li>
     <li class="nav-menu-item"><a class="nav-link nav03 js-scroll-trigger track" track-value="head_M_contact" href="#contact"><p class="nav-text">聯絡我</p></a></li>
    </ul>
   </div>
  </div>	
	
    <!-- Header -->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 ">Donee Huang</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Web / Graphic / Instagram Filter Designer</h2>
                <a href="#about" class="btn btn-primary js-scroll-trigger track" track-value="hey_guys" >Hey guys!</a>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section ">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50">
                    <h2 class="text-center text-white mb-4">關於我</h2>

                    <h3 class="d-inline-block">工作經驗</h3>
					 <p class="text-light">2017/06 ~ 在職中 KKday - Marketing Designer<br>負責網站活動頁設計與製作、內外部廣告設計與製作、Instagram Filter製作、主要與台日韓行銷溝通並一同製作活動。</p>
					
                    <h3 class="d-inline-block">工作技能</h3>
                    <p class="text-light">Photoshop / Illustrator / Dreamweaver / CSS / HTML / SCSS / Bootstrap / Spark AR /</p>

                    <h3 class="d-inline-block">個人描述</h3>
					<p class="text-light">在公司的價值為「生產力」與「創造力」，行銷部門即使在技術資源缺乏情況下，依舊也能夠順利完成設計、coding、研發，讓活動頁面更能貼近使用者。
                    <br>我也是個樂於學習與分享的人，網頁技術方面皆為線上自學，不斷的學習新的技術應用在不同需求活動上，也常與他人交流或是與同事間分享自己學習到的；目前我的網頁設計相關經驗為 3 年多的時間，累積許多相關經驗，能夠幫助公司規劃、設計與執行多項需求並快速且完整的完成目標。

                    </p>
                </div>
            </div>
        </div>
    </section>



    <!-- Projects Section -->
    <section id="projects" class="projects-section bg-light">
        <div class="container">
            <h2 class="text-center mb-4">作品集</h2>
			
            <div class="row align-items-center no-gutters mb-4 mb-lg-5" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50">
                <div class="col-lg-5">
                    <a class="track" track-value="飲迷俱樂部_img" href="//event.kkday.com/zh-tw/event/tipsy_club" target="_blank"> <img class="img-fluid lazyload" src="img/loading.jpg" data-src="img/web-11.jpg" alt=""></a>
                </div>	
                <div class="col-lg-7">
                    <div class="featured-text-right text-center text-lg-left">
						<h5>Taiwan</h5>
                        <h4>飲迷俱樂部</h4>
                        <p class="text-black-50">頁面配色使用綠、金、白，打造簡約低調的酒吧設計，為了提高質感圖片皆使用svg，在規劃頁面排版時特地在第一區塊擺上每週限定，提高商品點擊和轉單</p>
                        <a class="buttom-more track" track-value="飲迷俱樂部_more" href="//event.kkday.com/zh-tw/event/tipsy_club" target="_blank">前往頁面 <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>				
            </div>
			
			
            <div class="row align-items-center no-gutters mb-4 mb-lg-5" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50">
                <div class="col-lg-5 order-lg-2">
                    <a class="track" track-value="減速慢行_img" href="//event.kkday.com/zh-tw/event/eastcoast" target="_blank"> <img class="img-fluid lazyload" src="img/loading.jpg" data-src="img/web-10.jpg" alt=""></a>
                </div>	
                <div class="col-lg-7 order-lg-1">
                    <div class="featured-text-right text-center text-lg-left">
						<h5>Taiwan</h5>
                        <h4>減速慢行 宜花東</h4>
                        <p class="text-black-50">頁面有三個城市高達百隻商品，克服網站入載慢的問題，三個城市分頁加上區塊錨點，讓使用者清楚正在哪個城市並短時間內找到有興趣的類別</p>
                        <a class="buttom-more track" track-value="減速慢行_more" href="//event.kkday.com/zh-tw/event/eastcoast" target="_blank">前往頁面 <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>				
            </div>			
				

            <div class="row align-items-center no-gutters mb-4 mb-lg-5" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50">
                <div class="col-lg-5">
                    <a class="track" track-value="海島玩家_img" href="//event.kkday.com/zh-tw/event/Island_Player" target="_blank"> <img class="img-fluid lazyload" src="img/loading.jpg" data-src="img/web-8.jpg" alt=""></a>
                </div>	
                <div class="col-lg-7">
                    <div class="featured-text-right text-center text-lg-left">
						<h5>Taiwan</h5>
                        <h4>海島玩家</h4>
                        <p class="text-black-50">從頁面設計到寫程式，以手機使用者設計為出發，嘗試過多種不同符合海島的動畫，因活動主題分類多，Navbar對應區塊成功提高點擊，讓使用者一進入頁面可在短時間內找到有興趣的分類</p>
                        <a class="buttom-more track" track-value="海島玩家_more" href="//event.kkday.com/zh-tw/event/Island_Player" target="_blank">前往頁面 <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>				
            </div>
			
			
            <div class="row align-items-center no-gutters mb-4 mb-lg-5" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50">
                <div class="col-lg-5 order-lg-2">
                    <a class="track" track-value="偶像養成計劃_img" href="//event.kkday.com/zh-tw/event/kkdayxcatwalk" target="_blank"> <img class="img-fluid lazyload" src="img/loading.jpg" data-src="img/web-9.jpg" alt=""></a>
                </div>	
                <div class="col-lg-7 order-lg-1">
                    <div class="featured-text-right text-center text-lg-left">
						<h5>Taiwan</h5>
                        <h4>凱渥 x KKday</h4>
                        <p class="text-black-50">頁面客群鎖定20~35女性TA，設計以簡約線條跟手寫字體，嘗試不同於旅遊業以往的商品卡排版，導購按鈕閃爍效果提高點擊</p>
                        <a class="buttom-more track" track-value="偶像養成計劃_more" href="//event.kkday.com/zh-tw/event/kkdayxcatwalk" target="_blank">前往頁面 <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>				
            </div>			
			

            <div class="row align-items-center no-gutters mb-4 mb-lg-5" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50">
                <div class="col-lg-5">
                    <a class="track" track-value="環遊世界頁面_img" href="//event.kkday.com/zh-tw/event/newworld" target="_blank"><img class="img-fluid lazyload" src="img/loading2.jpg" data-src="img/web-1.jpg" alt=""></a>
                </div>
                <div class="col-lg-7">
                    <div class="featured-text-left text-center text-lg-left">
						<h5>Taiwan</h5>
                        <h4>環遊世界 開箱冒險</h4>
                        <p class="text-black-50">為線上旅展建置RWD活動頁面，可點選折扣代碼複製功能、多個國家頁面切換以及Banner內圖案增加動畫</p>
                            <a class="buttom-more track" track-value="環遊世界_more" href="//event.kkday.com/zh-tw/event/newworld" target="_blank">前往頁面 <i class="fas fa-angle-right"></i></a>
                        


                    </div>
                </div>
            </div>


            <div class="row align-items-center no-gutters mb-4 mb-lg-5" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50">
                <div class="col-lg-5 order-lg-2">
                    <a class="track" track-value="韓國頁面_img" href="//event.kkday.com/ko/CNX1month" target="_blank"> <img class="img-fluid lazyload" src="img/loading.jpg" data-src="img/web-2.jpg" alt=""></a>
                </div>	
                <div class="col-lg-7 order-lg-1">
                    <div class="featured-text-right text-center text-lg-left">
						<h5>Korea</h5>
                        <h4>해외 한달살기  feat 치앙마이 </h4>
                        <p class="text-black-50">韓國市場試玩員募集，使用webform架設表單填寫功能、填寫後彈跳視窗、增加動畫讓使用者體驗更有趣</p>
                        <a class="buttom-more track" track-value="韓國頁面_more" href="//event.kkday.com/ko/CNX1month" target="_blank">前往頁面 <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>				
            </div>




            <div class="row align-items-center no-gutters mb-4 mb-lg-5" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50">
                <div class="col-lg-5">
                    <a class="track" track-value="Hanako頁面_img" href="//event.kkday.com/ja/event/hanako_collaboration/" target="_blank"> <img class="img-fluid lazyload" src="img/loading.jpg" data-src="img/web-3.jpg" alt=""></a>
                </div>
                <div class="col-lg-7">
                    <div class="featured-text-left text-center text-lg-left">
						<h5>Japan</h5>
                        <h4>Hanako Travel x KKday</h4>
                        <p class="text-black-50">KKday與日本知名雜誌Hanako Travel合作臺灣旅遊，以全版面的Banner設計展現台灣風景，分別製作首頁、臺中頁面、臺南頁面，可分享頁面至Facebook、Twitter並綁定hashtag</p>
                        <a class="buttom-more track" track-value="Hanako頁面_more" href="//event.kkday.com/ja/event/hanako_collaboration/" target="_blank">前往頁面 <i class="fas fa-angle-right"></i></a>


                    </div>
                </div>
            </div>






            <div class="row align-items-center no-gutters mb-4 mb-lg-5" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50">
                <div class="col-lg-5 order-lg-2">
                    <a class="track" track-value="五元頁面_img" href="//event.kkday.com/ja/event/5yen_year_end" target="_blank"> <img class="img-fluid lazyload" src="img/loading.jpg" data-src="img/web-4.jpg" alt=""></a>
                </div>	
                <div class="col-lg-7 order-lg-1">
                    <div class="featured-text-right text-center text-lg-left">
						<h5>Japan</h5>
                        <h4>五円(ご縁)旅行作戦</h4>
                        <p class="text-black-50">日本市場社群分享活動，募集日幣五元與旅遊景點拍照，主視覺利用拍照畫面以及Banner輪播方式呈現活動、活動主要目的為社群推廣故把原本Footer上的SNS移至Header成功增加點擊率</p>
						<a  class="buttom-more track" track-value="五元頁面_more" href="//event.kkday.com/ja/event/5yen_year_end" target="_blank">前往頁面 <i class="fas fa-angle-right"></i></a>
                    </div>

                </div>				
            </div>




            <div class="row align-items-center no-gutters mb-4 mb-lg-5" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50">
                <div class="col-lg-5">
                    <a class="track" track-value="會員頁面_img" href="//event.kkday.com/zh-tw/membership" target="_blank"> <img class="img-fluid lazyload" src="img/loading.jpg" data-src="img/web-5.jpg" alt=""> </a>
                </div>
                <div class="col-lg-7">
                    <div class="featured-text-left text-center text-lg-left">
						<h5>Taiwan / Korea / Japan</h5>
                        <h4>KKday會員好禮</h4>
                        <p class="text-black-50">整合KKday會員權益的頁面，新增許願池填寫表單功能，使用Drupal後台並克服無法呈現韓文日文語言，讓三國語言整合在同一份表單並且帶有Source</p>
						<a  class="buttom-more track" track-value="會員頁面_more"  href="//event.kkday.com/zh-tw/membership" target="_blank">前往頁面 <i class="fas fa-angle-right"></i></a>
                    </div>

                </div>
            </div>




            <div class="row justify-content-center no-gutters mb-5 mb-lg-0 cards-gallery" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50">
                <div class="col-lg-6">
                    <div class="circleBackCategory" >
						<img class="img-fluid lazyload track" track-value="視覺設計" src="img/loading.jpg" data-src="img/web-6.jpg" alt="">
					</div>
                </div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white"> 視覺設計</h4>
                                <p class="mb-0 text-white-50">活動頁面、廣告BANNER..</p>
                                <hr class="d-none d-lg-block mb-0 ml-0">
                            </div>
                        </div>
                    </div>
                </div>

			
            </div>



            <!-- Project Two Row -->
            <div class="row justify-content-center no-gutters cards-ig" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50">
                <div class="col-lg-6">
                    <a class="lightbox track" track-value="ig濾鏡" href="https://www.instagram.com/s/aGlnaGxpZ2h0OjE3ODUzNzQzNDA3OTMxODIz?igshid=9m0riirt8t0&story_media_id=2281318860601617685" target="_blank"> <img class="img-fluid lazyload" src="img/loading.jpg" data-src="img/web-7.jpg" alt=""></a>
                </div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white"> Instagram 濾鏡</h4>
                                <p class="mb-0 text-white-50">雜訊、LUT、邊框、遊戲...</p>
                                <hr class="d-none d-lg-block mb-0 mr-0 ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>






    <!-- Contact Section -->
  <section id="contact">
   <div class="container">
    <h2 class="text-center mb-4" style="color: #fff">聯絡我</h2>
    <form class="centered align-center" id="my-form" action="https://formspree.io/mnqgqwwz" method="POST">
     <div class="row contact_style">
      <p id="my-form-status"></p>
      <div class="col-md-12 col-sm-12 col-xs-12">
       <label> <input class="track" track-value="ur_name" id="my-form-name" type="text" name="name" required="" placeholder="Your Name" /> </label>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
       <label> <input class="track" track-value="ur_email" id="my-form-email" type="email" name="_replyto" required="" placeholder="Your Email" /> </label>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
       <label> <textarea class="theme-input track" track-value="ur_message" id="my-form-message" name="message" required="" placeholder="Message"></textarea> </label>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
       <button class="theme-button track" track-value="send" type="submit" value="Send" data-toggle="modal" id="my-form-button"><i class="fa fa-paper-plane" aria-hidden="true"></i> Send </button>
      </div>
     </div>
    </form>
   </div>
   <div class="modal fade" id="my-form-success" tabindex="-1">
    <div class="modal-dialog">
     <div class="modal-content">
      <div class="modal-body">
       <p>感謝您的填寫，我將盡快與您聯繫！</p>
       <div class="modal-footer">
        <button type="button" class="btn btn-info track" track-value="close" data-dismiss="modal"> Close </button>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>

<script>
window.addEventListener("DOMContentLoaded",function(){var form=document.getElementById("my-form");var name=document.getElementById("my-form-name");var email=document.getElementById("my-form-email");var message=document.getElementById("my-form-message");var button=document.getElementById("my-form-button");var status=document.getElementById("my-form-status");function success(){$('#my-form-success').modal('show');form.reset();}
function error(){status.innerHTML="Oops! 沒有填寫完整喔！";}
form.addEventListener("submit",function(ev){ev.preventDefault();var data=new FormData(form);ajax(form.method,form.action,data,success,error);});});function ajax(method,url,data,success,error){var xhr=new XMLHttpRequest();xhr.open(method,url);xhr.setRequestHeader("Accept","application/json");xhr.onreadystatechange=function(){if(xhr.readyState!==XMLHttpRequest.DONE)return;if(xhr.status===200){success(xhr.response,xhr.responseType);}else{error(xhr.status,xhr.response,xhr.responseType);}};xhr.send(data);}
</script>	

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50 ">
          <ul class="sns">
            <li><a class="track" track-value="facebook" href="//www.facebook.com/babehungry/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
			<li><a class="track" track-value="youtube" href="https://www.youtube.com/channel/UCXOfOkhmpUvZMpip8_Fohdw" target="_blank"><i class="fab fa-youtube"></i></a></li>  
            <li><a class="track" track-value="instagram" href="https://www.instagram.com/babehungry" target="_blank"><i class="fab fa-instagram"></i></a></li>
			<li><a class="track" track-value="linkedin" href="https://www.linkedin.com/in/doneehuang/" target="_blank" rel="noopener"><i class="fab fa-linkedin-in"></i></a></li>  
          </ul>		
        <div class="container ">
            Copyright &copy; Donee Huang 2020
        </div>
    </footer>
	
    <script src="js/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.cards-gallery', {
            animation: 'slideIn'
        });
        baguetteBox.run('.cards-ig', {
            animation: 'slideIn'
        });		
    </script>
	<script type="text/javascript">

				$("img.lazyload").lazyload();
		
	</script>	
<script>
    AOS.init();
</script>		
	    <script src="js/grayscale.min.js"></script>
	
	
<script>
var $ = jQuery;	
$(function() {		
    $(".storyCloseButton").click(function() {
        $('#app').addClass('active_story');
    });
	$(".circleBackCategory").click(function() {
        $('#app').removeClass('active_story');
    });
});		
	
const app = new Vue({
  el: '#app',
  data() {
    return {
      bgs: ['img/gd-2-15.jpg', 'img/gd-2-14.jpg', 'img/gd-2-13.jpg', 'img/gd-2-11.jpg', 'img/gd-2-12.jpg', 'img/gd-2-1.jpg', 'img/gd-2-2.jpg', 'img/gd-2-3.jpg', 'img/gd-2-4.jpg', 'img/gd-2-5.jpg', 'img/gd-2-6.jpg', 'img/gd-2-7.jpg', 'img/gd-2-8.jpg', 'img/gd-2-9.jpg', 'img/gd-2-10.jpg'],
      current: 0 };

  },
  mounted() {
    let timeline = anime.timeline({
      autoplay: true,
      duration: 5000,
      easing: 'linear',
      loop: true });


    this.bgs.forEach((bgimg, index) => {
      timeline.add({
        targets: document.querySelectorAll('nav > div')[index].children[0],
        width: '100%',
        changeBegin: a => {
          this.current = index;
        } });

    });	  

    let hammertime = new Hammer(document.querySelector('#app'));

    hammertime.on('press', e => {
      timeline.pause();
    });

    hammertime.on('pressup', e => {
      timeline.play();
    });

    hammertime.on('tap', e => {
      if (e.center.x > window.innerWidth / 2) {
        if (this.current < this.bgs.length - 1) {
          this.current += 1;

          timeline.pause();
          timeline.seek(this.current * 5000);
          timeline.play();
        }
      } else {
        if (this.current > 0) {
          this.current -= 1;

          timeline.pause();
          timeline.seek(this.current * 5000);
          timeline.play();
        }
      }
    });
  } });
    </script>	
	
<script type="text/javascript">
function iEsc(){ return false; }
function iRec(){ return true; }
function DisableKeys() {
if(event.ctrlKey || event.shiftKey || event.altKey) {
window.event.returnValue=false;
iEsc();}
}
document.ondragstart=iEsc;
document.onkeydown=DisableKeys;
document.oncontextmenu=iEsc;
if (typeof document.onselectstart !="undefined")
document.onselectstart=iEsc;
else{
document.onmousedown=iEsc;
document.onmouseup=iRec;
}
function DisableRightClick(qsyzDOTnet){
if (window.Event){
if (qsyzDOTnet.which == 2 || qsyzDOTnet.which == 3)
iEsc();}
else
if (event.button == 2 || event.button == 3){
event.cancelBubble = true
event.returnValue = false;
iEsc();}
}
</script>	
	
	
</body>

</html>