<!DOCTYPE html>
<html>
	
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">	
<title>text</title>
<link rel="stylesheet" href="css/all.css">	
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css">	
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.3/vue.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/141041/anime.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>	
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>		
<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.0/lazysizes.min.js"></script>	
<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.0/plugins/bgset/ls.bgset.min.js"></script>	
	
<style>
.nav1{
  z-index: 1000;
  box-sizing: border-box;
  display: grid;
  grid-column-gap: 0.3em;
  grid-template-columns: repeat(5, 1fr);
  height: 0.5em;
  padding: 0 1em;
  position: fixed;
  top: 1em;
  width: 100%;
}	
.nav2{
  z-index: 1000;
  box-sizing: border-box;
  display: grid;
  grid-column-gap: 0.3em;
  grid-template-columns: repeat(4, 1fr);
  height: 0.5em;
  padding: 0 1em;
  position: fixed;
  top: 1em;
  width: 100%;
}		
</style>
	
	
	
</head>
	
<body>
	
	
<ul id="storyhome" class="story_home">
    <li>
		<a href="#" class="stroy_btn1">
			<span class="story_icon_circleback">
				<span class="story_icon_circle" style="background-image: url(https://cdn.quickper.com/media/q1/product/ac051f34-34b2-42c3-843f-e84bd38c48ef/w800h1200t1.jpg);">
				</span>
			</span> <!----> 
			<span class="stroy_name">飾品</span>
		</a>
	</li>
    <li>
		<a href="#"  class="stroy_btn2">
			<span class="story_icon_circleback">
				<span class="story_icon_circle" style="background-image: url(https://cdn.quickper.com/media/q1/product/83db6fd6-0acb-4990-8cbe-7218be43b365/w90h135t1.jpg);">
				</span>
			</span> <!----> 
			<span class="stroy_name">鞋</span>
		</a></li>
    <li>
		<a href="#">
			<span class="story_icon_circleback">
				<span class="story_icon_circle" style="background-image: url(https://cdn.quickper.com/media/q1/product/3b963a5b-139f-409d-8244-ede1243ffdd7/w800h1200t1.jpg);"></span>
			</span> <!----> 
			<span class="stroy_name">包</span>
		</a>
	</li>
    <li>
		<a href="#">
			<span class="story_icon_circleback">
				<span class="story_icon_circle" style="background-image: url(https://cdn.quickper.com/media/q1/product/2bc62754-efd2-4eee-b298-8c8b5d51b0c0/w800h1200t1.jpg);">
				</span>
			</span> <!----> 
			<span class="stroy_name">連帽衫</span>
		</a></li>
    <li>
		<a href="#">
			<span class="story_icon_circleback">
				<span class="story_icon_circle" style="background-image: url(https://cdn.quickper.com/media/q1/product/07f1ba61-cc64-4dfa-90d3-454157a2e852/w800h1200t1.jpg);">
				</span>
			</span> <!----> 
			<span class="stroy_name">上衣</span>
		</a></li>
    <li>
		<a href="#">
			<span class="story_icon_circleback">
				<span class="story_icon_circle" style="background-image: url(https://cdn.quickper.com/media/q1/product/b4c94cdc-a43d-46d6-8155-639f0572b3cb/w800h1200t1.jpg);"></span>
			</span> <!----> 
			<span class="stroy_name">外套</span>
		</a></li>
    <li>
		<a href="#">
			<span class="story_icon_circleback">
				<span class="story_icon_circle" style="background-image: url(https://cdn.quickper.com/media/q1/product/ef15a811-b0dc-445c-ae24-46ee4d01bdae/w800h1200t1.jpg);">
				</span>
			</span> <!----> 
			<span class="stroy_name">裙子</span>
		</a></li>
</ul>	
	

	<main id="app" class="story1 active">
		<div class="storyCloseButton"><i class="fal fa-times"></i></div>		
			<nav class="nav1">
				<div v-for="(bgimg, index) in bgs">
				<div></div>
				</div>
			</nav>	
		<section class="story_01 lazyloading" v-for="(bgimg, index) in bgs" :key="index" :style="{'background-image': 'url(' + bgimg + ')','background-repeat':'no-repeat','background-size':'cover','background-position': 'center','background-color': '#f1f2f3'  }" v-if="current == index">

			<div class="story_top">
				<a href="" class="">
						<span class="circle_icon" style="background-image: url(https://cdn.quickper.com/media/q1/product/ac051f34-34b2-42c3-843f-e84bd38c48ef/w800h1200t1.jpg);">
						</span>
						<span v-for="(date, index) in dates" class="circle_name" v-if="current == index">飾品 {{date}}</span>
				</a>

			</div>
			<div class="story_bottom">
				<div class="story_bottom_info">
					<div class="story_bottom_info_name" v-for="(name, index) in names" v-if="current == index">
						{{name}}
					</div>
					<div class="story_bottom_info_price">
						<span class="price" v-for="(price, index) in prices" v-if="current == index">
										{{price}}
						</span>	
					</div>
				</div>
				<div class="story_bottom_Button">
					<a v-for="(link, index) in links" v-if="current == index" :href="link" target="_blank">
									查看更多 <i class="fal fa-arrow-right"></i>
					</a>
				</div>
			</div>
			

		</section>
	</main>
	
	<main id="app2" class="story2 active">
		<div class="storyCloseButton"><i class="fal fa-times"></i></div>		
			<nav  class="nav2">
				<div v-for="(bgimg, index) in bgs2">
				<div></div>
				</div>
			</nav>	
		<section  class="story_02 lazyloading" v-for="(bgimg, index) in bgs2" :key="index" :style="{'background-image': 'url(' + bgimg + ')','background-repeat':'no-repeat','background-size':'cover','background-position': 'center','background-color': '#fff'  }" v-if="current == index">

			<div class="story_top">
				<a href="" class="">
						<span class="circle_icon" style="background-image: url(https://cdn.quickper.com/media/q1/product/83db6fd6-0acb-4990-8cbe-7218be43b365/w90h135t1.jpg);">
						</span>
						<span v-for="(date, index) in dates2" class="circle_name" v-if="current == index">鞋子 {{date}}</span>
				</a>

			</div>

		</section>
	</main>	
</body>
	<script src="js/all.js"></script>

</html>
