@charset "UTF-8";
.toggle-btn {
	top:-55px;
    float: right;
    position: relative;
    width: 40px;
    height: 35px;
    display: inline-block;
    margin: 8px 0 0 0;
    z-index:5000!important;
    cursor: pointer;
}
.toggle-btn span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #26BEC9;
    margin: 7px;
    border-radius: 10px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.toggle-btn.active span:nth-child(1) {
    -webkit-transform: rotate(45deg) translateY(13px);
    -ms-transform: rotate(45deg) translateY(13px);
    transform: rotate(45deg) translateY(13px);
}
.toggle-btn.active span:nth-child(2) {
    width: 0;
    opacity: 0;
}
.toggle-btn.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg) translateY(-13px);
    -ms-transform: rotate(-45deg) translateY(-13px);
    transform: rotate(-45deg) translateY(-13px);
}	  
	  
	  @media (min-width: 992px){
.toggle-btn {
	display: none;	}	  
.nav-menu {
    display: none;
}
	  }
.nav-menu.active {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}	  
.nav-menu {
    position: fixed!important;
    position: absolute;
    width: calc(100vw - 200px);
    height: 100vh;
    z-index:99;
    top: 0px;
    right: 0px;
    transform: translateX(100%);
    background: rgb(255, 255, 255);
    transition: .2s ease-out;
}	
.nav-menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
    padding: 10vh 0 0 0;
    list-style: none;
}	
.nav-menu-item {
    height: 5vh;
	z-index:2000;
    border-bottom: 1px solid #fff;
    margin: 0 0 3vh 0;
}	   
.nav-link {
	color: #000;
    text-align: center;
	display: block;
    height: 100%;
}	  


/*
.nav-menu  ul.sns li a:hover {
  background: #fff;
  border:1px solid #26BEC9
}
*/

.nav-menu  ul.sns li a img {
  width: 19px;
}
/* CSS Document */
.h1, .h2, .h3, .h4, h1, h2, h3, h4 {
    font-family: inherit;
    font-weight: 700;
}
h1 {
    font-size: 2.4rem!important;
	
}
h2 {
    font-size: 2.2rem!important;
	margin: 20px!important;
}
h3 {
    font-size: 1.8rem!important;
	margin: 20px!important;
	text-align: left;
}
h5 {
    font-size: 1.7rem!important;
	text-align: left;
	margin: 20px 40px!important;
	padding: 10px;
	line-height: 3rem!important;
	font-weight: 100!important;
}
.comma{
	position: relative;
}
.comma::after{
	content:"";
	position: absolute;
	width: 40px;
	height: 40px;
	background-image: url(http://image.kkday.com/v2/image/get/s1.kkday.com/campaign_1237/20200401084625_allSX/png);
	background-size: 100%;
	right: -30px;
}
.comma::before{
	content:"";
	position: absolute;
	width: 40px;
	height: 40px;
    background-image: url(http://image.kkday.com/v2/image/get/s1.kkday.com/campaign_1237/20200401084625_kXeTc/png);
	background-size: 100%;
	left: -40px;
	top: 0px;
}
p {
    font-size: 1.4rem!important;
}
img{
	width: 100%;
}
section{
	background: #fff;
	padding: 40px 0;
}
::selection {
background: #26bec9;
color: #fff;
}
::-moz-selection {
background: #26bec9;
color: #fff;
}
img::selection {
background: transparent;
}
img::-moz-selection {
background: transparent;
}
/*header*/
.brickk-wrapper header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
    height: 60px;
    background: rgba(255,255,255)!important;
    transition: all ease-in-out .3s;
}
a.logo {
    width: 100px;
    height: 44px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(https://www.kkday.com/assets/img/kkday_logo_final.svg)!important;
}
/*Banner*/
.banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-size: cover;
	margin-top: 30px;
    height: 250px;
    background-color: #26bec9;
    color: #fff;
    text-align: center;
}
.banner h1>span {
    font-size: 3rem;
}
/*firstview*/
#firstview.active{
	padding-bottom: 160px!important;
}
#icon01{
	width: 100%!important;
}
#icon02{
	width: 63.6%!important;
}
/*navbar*/
#navbar{
	background-color: #f5f5f5;
	margin-bottom: 0px!important;

}
#navbar.active{
	z-index: 2000 !important;
	padding:10px;
    position: fixed!important;
    top: 10px!important;
    width: 100%;
    border-bottom: 0px;
    background-color: transparent;
    -ms-overflow-style: none;
    overflow-x: auto;
    overflow-y: hidden;
	transition: .2s ease-in-out;
	
}
 .active .navbar_ul_style {
text-align: right;
transition: .1s ease-in-out;	 
}	 
 .active .navbar_ul_style>li {
    margin-right: 5px;
    margin-bottom: 5px;
    border: 0;
    float: inherit;
	right: 0px!important;
    display: inline-block;
    margin-right: -5px;
    border-bottom-width: 4px;
}
 .active .navbar_ul_style>li>a {
    margin: 0px!important;
    padding: 20px 30px 20px 0px!important;
    box-shadow: 0 2px 10px rgba(0,0,0,.0);
    border-radius: 4px;
    background-color: transparent;
    font-weight: 700;
    font-size: 1.3rem;
    color: #000;
}
.navbar_ul_style{
	transition: .2s ease-in-out;
	position: relative;
	overflow: visible;
    white-space: normal;
	padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar_ul_style>li{
	transition: .2s ease-in-out;
	margin-right: 5px;
    margin-bottom: 5px;
    border: 0;
	float: none;
    display: inline-block;
    margin-right: -5px;
    border-bottom-width: 4px;
}
.navbar_ul_style>li:hover a{
	transition: .2s ease-in-out;
	color: #26bec9;
}
.navbar_ul_style>li>a {
	transition: .2s ease-in-out;
    margin:10px;
    padding: 20px 40px;
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
    border-radius: 4px;
    background-color: #fff;
	font-weight: 700;
	font-size: 1.7rem;
	color: #000;
}
/*KKday Points*/
#kkdaypoints img{
	width: 85%;
}
.btn {
	margin-top: 40px;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: border .25s linear,color .25s linear,background-color .25s linear;
    transition: border .25s linear,color .25s linear,background-color .25s linear;
}
/*Special coupons*/	
#specialcoupons p{
	line-height:2.5rem;
   
}
/*Exclusive offers*/	
/*Offline offers*/	
#offlineoffers .offlineoffers_pic_style{
	margin: 10px!important;
}
.btn-kkdayapp{
	color: #000;
	font-size: 1.6rem!important;
	text-decoration:underline;
}
/*Product trials*/
.card_bg{
	margin: 30px 120px;
	background-color: #f4f4f5;
	border-radius: 12px;
	padding: 30px 20px;
	position: relative;
}
.card_bg::after{
	display: inline-block;
    content: '';
    position: absolute;
    bottom:-10px;
	left: 48%;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px;
    border-color: #f4f4f5 #f4f4f5 transparent transparent;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
.nav-pills>li {
    float: none!important;
    display: inline-block!important;
}
.card-icon img{
	width: 60px;
	height: 60px;
}
.editor-logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #eee;
    text-align: center;
    background-color: #eaeaea;
    background-size: cover;
    background-position: 50%;
}
.nav>li>a{
	opacity: 0.5;
}
.nav>li>a p{
	opacity: 0;
	margin:5px;
	color: #000;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent!important;
	opacity: 0.8;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: transparent!important;
	opacity: 1;
}
.nav-pills>li.active>a  p, .nav-pills>li.active>a:focus  p, .nav-pills>li.active>a:hover  p{
	opacity: 1!important;
}
/*footer*/
.brickk-wrapper footer {
    background: #999;
    padding: 20px 0px 0px!important;
}
footer h4 {
    color: hsla(0,0%,100%,.4);
    font-size: 1.6rem!important;
    font-weight: 400;
    margin-top: 0;
}
footer ul.list-unstyled {
    margin-bottom: 40px;
	margin-left: 0px!important;
	padding: 0px!important;
}
.list-inline, .list-unstyled {
    padding-left: 0;
    list-style: none;
}
footer .p, footer a {
    color: #f4f4f4;
}
footer a:focus, footer a:hover {
    color: #999;
}
footer .sns ul li {
    background-color: #555;
    border-radius: 50%;
    display: inline-block;
    font-size: 21px;
    height: 36px;
    margin: 3px;
    text-align: center;
    width: 36px;
}
footer .sns ul li:hover {
    background-color: #26bec9;
}
footer .sns ul li a {
    color: #fff;
    display: block;
}
footer hr {
    border-top: 1px solid #666;
}
#contact-kkday-row {
    margin: 15px 0!important;
}
footer .cr-font {
    color: #f4f4f4;
    font-size: 1.4rem;
    padding: 0 15px;
}
.text-muted {
    color: #aaa!important;
}
footer .row:nth-child(2).twfooter {
    background-color: #333;
    color: #999;
    font-size: 1.2rem;
    margin: 0;
    padding-top: 20px;
}
footer .twfooter ul.list-unstyled {
	letter-spacing: .1px;
    margin-bottom: 20px;
}
footer .sns ul li a img {
    width: 19px;
}
/*RWD*/
@media screen and (max-width: 1199px) {
	.navbar_ul_style>li>a {
    transition: .2s ease-in-out;
    margin: 7px;
    padding: 20px 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
    border-radius: 4px;
    background-color: #fff;
    font-weight: 700;
    font-size: 1.7rem;
    color: #000;
}
}
@media screen and (max-width: 768px) {
	.title_p{
		margin: 0px 100px!important;
	}
.card_bg {
    margin: 30px 40px;
}
}
@media screen and (max-width: 767px) {
h1 {
    font-size: 1.8rem!important;
}	
p {
    font-size: 1rem!important;
}	
#firstview img{
		width: 50%;
	}
#specialcoupons img{
		width: 50%;
	}	
#kkdaypoints img {
    width: 60%;
}	
	.brickk-wrapper section.banner {
    height: 200px!important;
}
	.list-unstyled{
		margin-top: 10px!important;
	}
	footer .cr-font {
		font-size: 0.5rem!important;
	}

}
@media screen and (max-width: 517px) {
.nav-pills>li+li {
    margin-left: 0px!important;
}	
}
@media screen and (max-width: 425px) {
	
h1 {
    font-size: 1.5rem!important;
}
h1 span{
    font-size: 2.5rem!important;
}	
h2 {
    font-size: 1.3rem!important;
	margin: 20px!important;
}
h3 {
    font-size: 1rem!important;
	margin: 20px!important;
	text-align: left;
}
h5 {
    font-size: 0.7rem!important;
	text-align: left;
	margin: 20px 40px!important;
	padding: 10px;
	line-height: 3rem!important;
	font-weight: 100!important;
}
.btn-kkdayapp {
    font-size: 1rem!important;
}	
	.title_p{
		margin: 0px!important;
	}	
.card_bg {
    margin: 30px 10px;
}		
.comma::before {
    width: 20px;
    height: 20px;
}
.comma::after {
    width: 20px;
    height: 20px;
}
.card_bg {
    margin: 30px 0px;
}	
.nav-pills>li+li {
    margin-left: 10px!important;
}	
}

