<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>ＴＥＳＴ</title>
<link type="text/css" rel="stylesheet" href="style.css"/>
<link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>	
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">	
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>	
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>	
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>	
<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.2/lazysizes.min.js"></script>	
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>	
<script>

</script>		
</head>

	
<header class="header">
	<div class="container">
		<div class="header-logo"><a href="https://www.kkday.com/zh-tw/"><img src="https://cdn.kkday.com/pc-web/assets/img/kkday_logo_final.svg" alt="logo"></a></div>
	</div>	
</header>	
<main id="app">
	
	<div id="navbarResponsive" class="navbar-collapse">
		<div class="container tab-overflow">
			<ul class="navbar-nav">
				<li v-for="section in sections"><a  class="nav-link js-scroll-trigger more" v-bind:href="'#' + section.id"><span>{{section.maintitle}}</span></a></li>			
			</ul>
		</div>
	</div>	
	
	
	
	<div v-for="banner in banners">	
		<main class="lazyload banner" v-bind:data-bg="banner.img">
		</main>	
	</div>
	


	
	<section v-for="section in sections" class="product-section" v-bind:id="section.id">
		<div class="section-bg" v-bind:style="{ background: section.backgroundColor}">
			<div class="container">
				<div class="section-head">
					<h2 class="title">
						{{section.maintitle}}
					</h2> 
					<p class="subtitle">
						{{section.subtitle}}
					</p>
				</div>		


				<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" v-bind:class=" {active: section.hidetab,show: section.hidetab}">
					<li class="nav-item" v-for="tab in section.tabs">
						<a v-bind:class=" {active: tab.defult}" class="nav-link" data-toggle="tab" v-bind:href="'#' + tab.tabId" role="tab"> {{tab.tabname}}</a>
					</li>

				</ul>

				<div class="tab-content" id="pills-tabContent">
					<div v-for="tab in section.tabs" class="tab-pane fade" v-bind:class=" {active: tab.defult,show: tab.defult}" v-bind:id="tab.tabId" role="tabpanel">

						<div class="owl-carousel owl-four">					
							<div class="item" v-for="productcard in tab.productcards">
								<a v-bind:href="productcard.url" target="_blank" data-check-cid="1">
									<div class="card-product" v-bind:style="{ backgroundColor: section.productcards_backgroundColor}">
												<div class="pic lazyload" v-bind:data-bg="productcard.img">										
												</div>
										<div class="product-detail">
											<h3 class="title-card">
												{{productcard.name}}
											</h3>
											<div class="product-place">
												<i class="fas fa-map-marker-alt"></i> {{productcard.location}}
											</div> 
											<div class="product-footer">
		
		
		
		
												<div class="product-pricing">
													<span>TWD</span> <h4>{{productcard.price}}</h4>
												</div>
											</div> 
										</div>
									</div>
									<div  v-if="productcard.tag">
										<div class="promo-product__label_before" v-bind:style="{ backgroundColor: section.tag_backgroundColor}">
										</div>							
										<div class="promo-product__label" v-bind:style="{ backgroundColor: section.tag_backgroundColor,color:section.tagColor}">
											{{productcard.tag}}
										</div>
									</div>	
								</a>
							</div>											
						</div>							


					</div>
				</div>	
			</div>
		</div>	
	</section>	

	<main class="flowchart_description"  v-for="flowchart in flowcharts">
		<div class="container">
			<h2 class="title">
						{{flowchart.name}}
			</h2> 
			<ul class="description_list">
				<li v-for="list in flowchart.lists">
					{{list.title}}
				</li>
			</ul>
		</div>
	</main>

</main>	
<script src="main.js"></script>		
<script src="app.js"></script>	
<body>
</body>			
	
</html>
